# main
PORT=3000
FRONTEND_URL=http://localhost:5173

# database
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=change-me
PGDATABASE=loan_system

# secret
JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-with-a-different-long-random-secret


